{% extends "base.html" %}

{% block home_link_style %}
class="active home"
{% endblock %}

{% block slider %}
<div class="slider">
	<div id="bg"></div>
	<div id="carousel">
		<div>
			<h5>With pWeb you can</h5>
			<h3>Host Yourself</h3>
			<p>With pWeb, you can share <em>your</em> thoughts, opinions and media without
			relying on large corporations that get to decide what you're allowed to publish.
			Your content remains on your device where your friends and family can access
			it directly.</p>
			<a href="/reg/pWebcs.php?fn=login" class="green-btn">GET STARTED</a>
			<img class="img-front" src="/static/cms/css/images/front-img.png" alt="dot1" width="263" height="436" />
			<img class="img-mid" src="/static/cms/css/images/img-mid.png" alt="dot2" width="230" height="363" />
			<img class="img-back" src="/static/cms/css/images/img-back.png" alt="dot3" width="195" height="304" />
		</div>

		<!-- <div>
			<h5>It all starts with a</h5>
			<h3>Great Vision</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget augue quis quam dignissim consectetur ac sit amet nisl. In hac habitasse platea. Eget augue quis quam dignissi lorem lipsum adispicing dolor sit amet.</p>
			<a href="#" class="green-btn">FREE Quote</a>
			<img class="img-front" src="/static/cms/css/images/front-img.png" alt="dot1" width="263" height="436" />
			<img class="img-mid" src="/static/cms/css/images/img-mid.png" alt="dot2" width="230" height="363" />
			<img class="img-back" src="/static/cms/css/images/img-back.png" alt="dot3" width="195" height="304" />
		</div>

		<div>
			<h5>It all starts with a</h5>
			<h3>Great Vision</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget augue quis quam dignissim consectetur ac sit amet nisl. In hac habitasse platea. Eget augue quis quam dignissi lorem lipsum adispicing dolor sit amet.</p>
			<a href="#" class="green-btn">FREE Quote</a>
			<img class="img-front" src="/static/cms/css/images/front-img.png" alt="dot1" width="263" height="436" />
			<img class="img-mid" src="/static/cms/css/images/img-mid.png" alt="dot2" width="230" height="363" />
			<img class="img-back" src="/static/cms/css/images/img-back.png" alt="dot3" width="195" height="304" />
		</div>

		<div>
			<h5>It all starts with a</h5>
			<h3>Great Vision</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget augue quis quam dignissim consectetur ac sit amet nisl. In hac habitasse platea. Eget augue quis quam dignissi lorem lipsum adispicing dolor sit amet.</p>
			<a href="#" class="green-btn">FREE Quote</a>
			<img class="img-front" src="/static/cms/css/images/front-img.png" alt="dot1" width="263" height="436" />
			<img class="img-mid" src="/static/cms/css/images/img-mid.png" alt="dot2" width="230" height="363" />
			<img class="img-back" src="/static/cms/css/images/img-back.png" alt="dot3" width="195" height="304" />
		</div> -->

	</div>
	<!--  <div class="pagination"></div>
	<a id="prev" href="#"></a>
	<a id="next" href="#"></a> --> 
</div>
{% endblock %}

